.class-node {
    border: 1px solid #eee;
    padding: 5px;
    border-radius: 5px;
    background: rgb(10, 28, 85);
    color: rgb(206, 204, 223);
  }
  .button {
    border: 1px solid #eee;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    background: rgb(3, 8, 26);
    color: rgb(163, 162, 177);
    font-weight: bold;
    width: 100%;
  }

  .class-node label {
    display: block;
    color: #777;
    font-size: 12px;
  }
  